.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imagePlaceHolder {
    width: 730px;
    position: relative;
}

.animationSection {
    width: 100%;
    height: 700px;
    padding: 0%;
    background-position: right center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}